<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div
    class="container d-flex flex-column align-items-start"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>Francielle Gonçalves</h1>
    <h2>Nutricionista</h2>
    <a class="btn-about" routerLink="como-funciona">Agendar Consulta</a>
  </div>
</section>
<!-- End Hero -->
