section {
  margin-top: 50px;
}

#inputCalendar {
  max-width: 200px;
}

.btn-primary {
  margin-left: 20px;
  width: 100px;
  height: 50px;
  margin-top: 18px;
}

.btn-outline-danger{
  margin-left: 10px;
}
