<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Painel administrativo</h2>
      <p>{{ frase }} {{ nomeUsuario }}, bem vinda de volta!</p>
    </div>

    <app-abas
    [typeText]="typesContet"
    (changeContent)="typeContent($event)"
  ></app-abas>

  <br>
  <br>

    <ng-container *ngIf="content == 0">

      <div class="d-flex">
        <form class="form-inline">
          <div class="form-group">
            <label class="label">Data Inicial</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="inicial" ngbDatepicker
                #i="ngbDatepicker" id="inputCalendar" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="i.toggle()" type="button">
                  <i class="bi bi-calendar3"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

        <form class="form-inline" style="margin-left: 20px">
          <div class="form-group">
            <label class="label">Data Inicial</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="final" ngbDatepicker
                #f="ngbDatepicker" id="inputCalendar" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="f.toggle()" type="button">
                  <i class="bi bi-calendar3"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

        <button type="button" class="btn btn-primary" (click)="listarPorData()">
          Filtrar
        </button>
      </div>

      <app-loading [loading]="loading"></app-loading>

      <h4 class="mt-5" *ngIf="pacientes.length === 0">
        Nenhum paciente foi encontrado...
      </h4>

      <h4 class="mt-5" *ngIf="!loading && pacientes.length != 0"
      >Estes são os usuarios que responderam o questionário</h4>

      <table class="table mt-3" *ngIf="!loading && pacientes.length != 0">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nome do paciente</th>
            <th scope="col">Email</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody *ngFor="let p of pacientes; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ p.nome }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.data_nascimento | date: "dd/MM/yyyy" }}</td>
            <td>
              <button type="button" class="btn btn-outline-primary" [routerLink]="'/app/respostas/' + p.id">
                Visualizar Respostas
              </button>

              <button type="button" class="btn btn-outline-danger" (click)="excluir(p)">
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>



    </ng-container>

    <ng-container *ngIf="content == 1">

      <app-visualizar-contatos></app-visualizar-contatos>

    </ng-container>


  </div>
</section>
