<div class="row justify-content-center">
  <div
    class="col-2 aba"
    *ngFor="let t of typeText"
    [ngClass]="{ activated: activate == t.type }"
    (click)="showText(t.type)"
  >
    <p class="text-center mt-4">
      <strong>{{ t.name }}</strong>
    </p>
  </div>
</div>
