.aba {
  width: 100%;
  max-width: 250px;
  padding-left: 20px;
  height: 70px;
  cursor: pointer;
  background: #e9e8e6;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  color: black;
}

.aba:hover {
  color: #34b7a7;
}

.activated {
  color: #fff;
  background-color: #34b7a7;
}

.activated:hover {
  color: #000;
}

.tab-content {
  color: #fff;
}
