<header id="header" class="fixed-top">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <h1 class="logo me-auto me-lg-0"><a href="index.html">Francielle</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="biografia">Biografia</a></li>
        <li><a href="servicos">Serviços</a></li>
        <li><a href="contato">Contato</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" (click)="abrirMenu()"></i>
    </nav>
    <!-- .navbar -->

    <div class="header-social-links">
      <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
      <a href="https://www.instagram.com/nutriifran_goncalves/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
      <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->
    </div>
  </div>

    <ul *ngIf="menu" class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="''" (click)="abrirMenu()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'biografia'" (click)="abrirMenu()">Biografia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'servicos'" (click)="abrirMenu()">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'contato'" (click)="abrirMenu()">Contato</a>
      </li>
    </ul>
</header>
<!-- End Header -->
