<main id="main">
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>QUESTIONÁRIO DE PRÉ CONSULTA</h2>
        <img
          src="/assets/img/graduacao-nutricao.png"
          class="img-fluid templateNutri"
          alt=""
        />
      </div>

      <div class="subtitle">
        <p class="mt-5">Preencha o formulário abaixo</p>
      </div>

      <form role="form" class="php-email-form" [formGroup]="formulario">
        <div class="container">
          <div class="card">
            <span class="d-flex justify-content-end" style="color: red">*</span>
            <div class="group mt-3">
              <input type="text" formControlName="nome" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Qual o seu nome completo ?</label>
            </div>
            <app-control-error
              [control]="formulario.controls.nome"
            ></app-control-error>
          </div>

          <div class="card">
            <span class="d-flex justify-content-end" style="color: red">*</span>
            <div class="group mt-3">
              <input type="date" formControlName="data_nascimento" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Data de nascimento</label>
            </div>
            <app-control-error
              [control]="formulario.controls.data_nascimento"
            ></app-control-error>
          </div>

          <div class="card">
            <span class="d-flex justify-content-end" style="color: red">*</span>
            <div class="group mt-3">
              <input
                type="text"
                formControlName="telefone"
                mask="(00)0-0000-0000"
                required
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Telefone</label>
            </div>
            <app-control-error
              [control]="formulario.controls.telefone"
            ></app-control-error>
          </div>

          <div class="card">
            <span class="d-flex justify-content-end" style="color: red">*</span>
            <div class="group mt-3">
              <input type="email" formControlName="email" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email</label>
            </div>
            <app-control-error
              [control]="formulario.controls.email"
            ></app-control-error>
          </div>

          <div class="card" *ngFor="let p of pergunta; let i = index">
            <span class="d-flex justify-content-end" style="color: red">*</span>
            <div class="group mt-3">
              <input
                type="text"
                required
                (change)="gravarRespostas($event, p.id)"
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>{{ p.descPergunta }}</label>
            </div>
          </div>
        </div>

        <div class="text-center" *ngIf="!loading">
          <button type="submit" (click)="enviar()">Enviar</button>
        </div>

        <app-loading [loading]="loading"></app-loading>
      </form>
    </div>
  </section>
</main>
