<main id="main">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Biografia</h2>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="assets/img/about.jpeg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Francielle Gonçalves Pereira</h3>
          <p class="fst-italic">
            Pós graduanda em nutrição clínica, esportiva, estética e prescrição
            de fitoterápicos na faculdade IPOG de Goiânia.
          </p>
          <p class="fst-italic">
            Graduada em nutrição na faculdade Anhanguera de Anápolis 2017 a
            2021.
          </p>

          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Data de nascimento:</strong> 06/07/1997
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Telefone: </strong>(62) 98525-7685
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Cidade: </strong>Goianápolis - Go
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bi bi-rounded-right"></i> <strong>Idade:</strong> 24
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Email:</strong> fran_gp@outlook.com
                </li>
                <li>
                  <i class="bi bi-rounded-right"></i>
                  <strong>Cargo:</strong> Nutricionista
                </li>
              </ul>
            </div>
          </div>
          <!-- <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut.
            Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque.
            Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p> -->
        </div>
      </div>
    </div>
  </section>
</main>
