<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Serviços</h2>
      </div>

      <div class="row justify-content-start">
        <div class="col-8" data-aos="zoom-in" data-aos-delay="100">
          <div class="row">
            <div class="col-6">
              <img
                src="/assets/img/acompanhamento-nutricional.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>

            <div class="col-6">
              <p class="mt-3">
                Acompanhamento nutricional que é uma avaliação completa da
                situação nutricional de um paciente. É através dela que um
                profissional especializado terá a oportunidade de prescrever um
                plano alimentar individualizado, baseando-se nas suas
                necessidades e objetivos pessoais.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
</main>
<!-- End #main -->
