section {
  margin-top: 80px;
}

.card {
  background-color: #fff;
  box-shadow: 5px 5px 5px black;
  width: 40%;
  min-width: 300px;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  page-break-inside: avoid;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}
