<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Login</h2>
      <p>Painel administrativo</p>
    </div>

    <form role="form" class="php-email-form" [formGroup]="form">
      <div class="card">
        <div class="form-group">
          <label for="login" class="form-label">Email</label>
          <input
            type="text"
            name="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Digite seu email"
            required
          />

          <app-control-error
            [control]="form.controls.email"
          ></app-control-error>
        </div>

        <div class="form-group">
          <label for="senha" class="form-label">Senha</label>
          <input
            type="text"
            name="senha"
            class="form-control"
            formControlName="senha"
            id="senha"
            placeholder="Digite sua senha"
            required
          />

          <app-control-error
            [control]="form.controls.senha"
          ></app-control-error>
        </div>

        <div class="d-flex justify-content-center">
          <app-loading [loading]="loading"></app-loading>
          <button
            type="button"
            class="btn btn-outline-info mt-5"
            (click)="login()"
            *ngIf="!loading"
          >
            Entrar
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
