<section id="contact" class="contactc mt-5">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Infomações do Paciente</h2>
    </div>

    <form role="form" class="php-email-form" *ngIf="usuario">
      <div class="card">
        <span class="d-flex justify-content-end" style="color: red">*</span>
        <div class="group mt-3">
          <input type="text" [value]="usuario[0]?.nome" disabled />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Nome Completo</label>
        </div>
      </div>

      <div class="card">
        <span class="d-flex justify-content-end" style="color: red">*</span>
        <div class="group mt-3">
          <input type="text" [value]="usuario[0]?.email" disabled />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>
      </div>

      <div class="card">
        <span class="d-flex justify-content-end" style="color: red">*</span>
        <div class="group mt-3">
          <input
            type="text"
            [value]="usuario[0]?.telefone"
            disabled
          />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Telefone</label>
        </div>
      </div>

      <div class="card">
        <span class="d-flex justify-content-end" style="color: red">*</span>
        <div class="group mt-3">
          <input
            type="text"
            [value]="usuario[0]?.data_nascimento | date: 'dd/MM/yyyy'"
            disabled
          />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Data de nascimento</label>
        </div>
      </div>
    </form>
    <div class="section-title mt-4">
      <h2>Respostas do Questionário</h2>
    </div>

    <form role="form" class="php-email-form">
      <div class="card" *ngFor="let r of respostas">
        <span class="d-flex justify-content-end" style="color: red">*</span>
        <div class="group mt-3">
          <input type="text" [value]="r.descResposta" disabled />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{ r.descPergunta }}</label>
        </div>
      </div>
    </form>
  </div>
</section>
