

<app-loading [loading]="loading"></app-loading>

<h4 class="mt-5" *ngIf="contatos.length === 0">
  Nenhuma solicitação de contato foi encontrada...
</h4>


<table class="table" *ngIf="contatos.length != 0 && !loading">
  <thead>
    <tr>
      <th scope="col">Nome do paciente</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Mensagem</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of contatos">
      <th scope="row">{{c.nome}}</th>
      <td>{{c.email}}</td>
      <td>{{c.telefone}}</td>
      <td>{{c.mensagem}}</td>
      <td>

        <button class="btn btn-outline-danger" (click)="excluir(c)">Excluir</button>

      </td>
    </tr>
  </tbody>
</table>
