<main id="main">
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contato</h2>
        <p>
          Preencha o formulário abaixo e assim que possível entraremos em
          contato.
        </p>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Cidade:</h4>
              <p>Goianápolis - Go</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>fran_gp@outlook.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Telefone</h4>
              <p>(62) 98525-7685</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form [formGroup]="form" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  formControlName="nome"
                  placeholder="Nome Completo"
                  required
                />

                <app-control-error
                  [control]="form.controls.nome"
                ></app-control-error>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  formControlName="email"
                  placeholder="Email"
                  required
                />
                <app-control-error
                  [control]="form.controls.email"
                ></app-control-error>
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                formControlName="telefone"
                placeholder="Telefone"
                mask="(00)0-00000000"
                required
              />
              <app-control-error
                [control]="form.controls.telefone"
              ></app-control-error>
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                formControlName="mensagem"
                placeholder="Mensagem"
                required
              ></textarea>
              <app-control-error
                [control]="form.controls.mensagem"
              ></app-control-error>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center" *ngIf="!loading">
              <button type="submit" (click)="enviarContato()">Enviar</button>
            </div>

            <app-loading [loading]="loading"></app-loading>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
