<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright
      <strong style="cursor: pointer" [routerLink]="'/app/painel-admin'"
        ><span>Francielle Gonçalves</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
      feito por <a href="https://bootstrapmade.com/">BeerForDevs</a>
    </div>
  </div>
</footer>
<!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
