<main id="main">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Como funciona</h2>
      </div>

      <div>
        <p>Será marcado um horário em que ambos tenha disponibilidade, e a consulta é realizada através de video chamada
          com duração de 40 minutos á uma hora, com retorno em 20 dias.
        </p>
        <p>Anstes da consulta tire fotos em vários ângulos ( frente, costas , lateral ) para que a profissional possa analisar.</p>
        <br>
        <p style="color: red;">So será cobrado algum valor, se apenas o paciente estiver disposto a prosseguir com as consultas.</p>
      </div>

      <div>
        <a class="btn-about" routerLink="/questionario">Prosseguir</a>
      </div>

    </div>
  </section>
</main>
